<div class="accordion mt-2" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <div class="accordion-header">
      <div class="row">
        <div class="col">
          <button (click)="OpenModal()" class="btn bg-light p-2" type="button" data-bs-toggle="modal" aria-controls="panelsStayOpen-collapseOne">
            {{ !prompt.materia.trim() && !prompt.assunto.trim() ? 'Prova não definida' : prompt.materia + (!prompt.assunto.trim() ? '' : ' - ' ) + prompt.assunto }} |&nbsp;<span [ngStyle]="{'color': confirmed ? 'green' : 'red' }">{{ confirmed ? 'Confirmado' : 'Não Confirmado' }}</span>
          </button>
        </div>
        <div class="col-2 d-flex justify-items-start align-items-center">
            <button (click)="Delete()" type="button" class="btn btn-danger">X</button>
        </div>
      </div>
    </div>
    <div class="modal fade" [class]="{'show': opened }" [ngStyle]="{'display': opened ? 'block' : 'none'}" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">{{ !prompt.materia.trim() && !prompt.assunto.trim() ? 'Prova não definida' : prompt.materia + (!prompt.assunto.trim() ? '' : ' - ' ) + prompt.assunto }} |&nbsp;<span [ngStyle]="{'color': confirmed ? 'green' : 'red' }">{{ confirmed ? 'Confirmado' : 'Não Confirmado' }}</span></h1>
            <button (click)="OpenModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <label for="qtd" class="form-label">Quantidade de questões: {{ prompt.qtdquestoes }}</label>
                <div class="col">
                  <input [(ngModel)]="prompt.qtdquestoes" type="range" class="form-range" min="1" max="10" id="qtd">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input [(ngModel)]="prompt.materia" class="form-control" type="text" placeholder="Materia" aria-label="Materia">
                </div>
                <div class="col">
                  <input [(ngModel)]="prompt.assunto" class="form-control" type="text" placeholder="Assunto" aria-label="Assunto">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <input [(ngModel)]="prompt.nivel" class="form-control" type="text" placeholder="Nivel" aria-label="Nivel">
                </div>
                <div class="col">
                  <input [(ngModel)]="prompt.serie" class="form-control" type="text" placeholder="Serie" aria-label="Serie">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col text-start d-flex align-items-center">
                  <div class="form-check">
                    <input [(ngModel)]="prompt.possuicontexto" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Contexto</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="OpenModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" *ngIf="!confirmed" (click)="Confirm()">Confirmar</button>
            <button type="button" class="btn btn-danger" *ngIf="confirmed" (click)="Confirm()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
